/* White: hsl(0, 0%, 100%)
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%) */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  border: solid;
  background-color: hsl(0, 0%, 100%);
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
